.case_container{
    display: flex;
    align-items:center;
    padding:15px 15px;
    padding-right:10px;
    box-shadow: 1px 1px 7px 1px #1425401A;
    border-radius:8px;
    z-index: 111;
    background-color: #fff;
    flex-basis:20.5%;
}

.case_container:not(:first-child){
    margin-left:18px;
}

.case_qty_wrap{
    display: flex;
    flex-direction: column;
    flex-basis:60%;
}

.case_heading{
    color:#52586A;
    font-weight:600;
    font-size: 0.875rem;
}

.icons{
    margin-left:5px;
    margin-top:-2px;
}

.icons img{
    width:10px;

}

.case_qty{
    color:#30313A;
    font-size:1.4375rem;
    margin-top:10px;
    font-weight:700;
    margin-right:15px;
}

.graph_wrap{
    flex-basis:40%;
}

.graph_wrap img{
    width:100%;
}

@media(max-width:1200px){
    .case_container{
        flex-basis:18%;
    }
}

@media(max-width:768px){
    .case_container{
        flex-basis: 45%;
        margin-top:10px;
    }

    .case_container:not(:first-child){
            margin-left:0px;
    }

    .case_container:nth-child(even){
        margin-left: 8px;
    }

}

@media(max-width:625px){
    .case_container{
        flex-basis:42.5%;
    }
}


@media(max-width:425px){
    .case_container{
        flex-basis:100%;
        margin-left:0px;
    }

    .case_container:nth-child(even){
        margin-left:0px;
    }
}