.search_list_container{
    background-color: #fff;
    box-shadow: 1px 1px 15px 1px #1425401A;
    border-radius: 10px;
}

.search_input{
    width:95%;
    border-radius:30px;
    height:40px;
    /* border:1px solid #adadad; */
    border:none;
    box-shadow:2px 2px 4px 2px #1425401A; 
    background-color:#f7f7f7;
    font-size:14px;
    font-weight: 600;
    padding-left:10px;
    margin:15px 15px;
    width:87%;
}

.search_input:focus{
    outline: none;
}

.country_list{
    overflow: auto;
    height:343px;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-thumb {
    background-color:#434e52;
    outline: 1px solid slategrey;
  }







/* Country Stat CSS  */


.country_stat_container{
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    padding:10px 15px;
    border-radius:12px;
    box-shadow:2px 2px 4px 2px #1425401A;
    margin:14px 15px;
}

.flag_name_wrap{
    display: flex;
    align-items: center;
}




.country_name{
    font-size: 17px;
    font-weight:600;
    color:#30313A;
    margin-bottom:3px;
    margin-left:8px;
}


.stat{
    font-size:13px;
    color:#52586A;
    font-weight:600;
}

