body{
    background:#f7f7f7;
    max-width:1920px;
    margin:0 auto;
}


.home_container{
    display: flex;
    padding:22px 20px;
    /* background:#F7F7F7; */
}

.left_area{
    /* flex:0.8; */
    flex-basis:75%;
}

.map_country_row{
    display: flex;
}


.CountryList_container{
    flex-basis:40%;
    margin:20px 0px 0px 0px;
}

.Map_container{
    flex-basis:60%;
    margin:20px 0px 0px 18px;
}

.right_area{
    /* flex:0.2; */
    flex-basis:25%;
    margin-left:18px;
}  


.st_news{
    display: flex;
}

.margin_top_20{
    margin-top:20px;
}

.SpreadTrends_container{
    flex-basis:55%;
    margin-right:9px;
}



.News_container{
    flex-basis:45%;
    margin-left:9px;
}


@media(max-width:768px){
    .home_container,.map_country_row,.st_news{
        flex-direction: column;
    }

    .News_container{
        margin-top:20px;
        margin-left:0px;
    }

    .Map_container{
        margin:0;
        margin-top:20px;
    }

    .right_area{
        margin:0;
    }

    .recovery_container{
        margin-top: 20px;
        width:100%;
    }

    .SpreadTrends_container{
        margin-right:0px;
    }
}