body{
    background-color: #f7f7f7;
}

.home_container{
    display: flex;
    padding:22px 20px;
    /* background:#F7F7F7; */
}

.left_area{
    /* flex:0.8; */
    flex-basis:75%;
}

.map_country_row{
    display: flex;
}


.CountryList_container{
    flex-basis:40%;
    margin:20px 0px 0px 0px;
}

.Map_container{
    flex-basis:60%;
    margin:20px 0px 0px 18px;
}

.right_area{
    /* flex:0.2; */
    flex-basis:25%;
    margin-left:18px;
}  


.st_news{
    display: flex;
}

.margin_top_20{
    margin-top:20px;
}

.SpreadTrends_container{
    flex-basis:55%;
    margin-right:9px;
}



.News_container{
    flex-basis:45%;
    margin-left:9px;
}


@media(max-width:768px){
    .home_container{
        flex-direction: column;
    }
}