.latest_tweets_container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 1px #1425401A;
    width:100%;
    padding:14px 16px;
    box-sizing: border-box;
    margin-top:20px;
    height:415px;
    overflow: auto;
    position:relative;
}

h3{
    color:#30313A;
    font-size: 18px;
    margin:0;
    padding:0;
}

/* tweet Display CSS */

.tweet{
    margin:0px 2px;
    padding:15px 0px;   
}

.tweet:not(:last-child){
    border-bottom:1px solid #dbdbdb;
}

.dp_name_container{
    display: flex;
    align-items:flex-start;
}

.dp{
    height:45px;
    width:45px;
    border-radius:60px;
    margin-right:6px;
}



h4{
    margin:0;
    padding:0;
    font-size:15px;
    color:#252525;
}

.twitter_handle{
    font-size: 12px;
    color:#252525;
    font-weight:600;
    opacity:50%;
}

.tweet_content{
    font-size:14px;
    color:#252525;
    margin-top:10px;
    font-weight:600;
    opacity:1;
    line-height:20px;
}

.tweet_info_container{
    display: flex;
    justify-content:space-between;
    margin-top:10px;
}

.date{
    font-size:16px;
    font-weight:600;
    color:#252525;
    opacity:0.6;
}

.actions span{
    font-weight:600;
    font-size:16px;
    color:#F52D5C;
}

.actions span:last-child{
    margin-left:10px;
    color:#54B5F5;
}

.loading_logo{
    height:50px;
    position:absolute;
    left:50%;
    top:30%;
    transform:translate(-50%,0%);
}