
nav{
    margin:0;
    padding:0;
    display: flex;
    align-items:center;
    width:100%;
    background-color: #fff;
    box-shadow:0px 5px 20px 2px #686C8526;
    padding:10px 0px;
    overflow: hidden;
}

.logo_img{
    height:46px;
    width:46px;
}

.logo_txt{
    font-size:1.5625rem;
    font-weight:700;
    margin-left:15px;
}

.logo{
    display: flex;
    align-items: center;
    color:#FF0019;
     margin-left:36px;
    /*margin-top:15px; */
}

.nav_opts_list{
    margin-right:100px;
}

.list_wrap{
    margin:auto;
}

.nav_opts_list li{
    list-style-type:none;
    display: inline-block;
}


.nav_link_item{
    color:#52586A;
    font-size:14px;
    font-weight:600;
    text-decoration: none;
    margin:0 25px;
    padding:22px 0; 
}

.nav_link_item:hover{
    color:#000;
}

.active{
    color:#FF0019;
    border-bottom:5px solid #FF0019;
}

.active:hover{
    color:#FF0019;
}

.menu_btn{
    position: relative;
    right:-40px;
    display: none;
}

.menu_btn{
    background: none;
    border:none;
}

.menu_btn  div{
    height:3px;
    margin-top:5px;
    width:25px;
    background-color:#FF0019 ;
}

.darkMode_btn{
    position: absolute;
    top:20px;
    right:40px;
}

@media(max-width:768px){
    .nav_opts_list{
        display: none;
        margin-right: 0px;
    }


    .menu_btn{
        display: block;
    }

    .darkMode_btn{
        margin-right:-10px;
    }
}

@media(max-width:400px){
    .logo_txt{
        font-size: 1.3rem;
    }

    .logo_img{
        width:35px;
        height:35px;
    }

    .logo{
        margin-left:20px;
    }

    .menu_btn{
        right:10px;
    }


   

}