.container{
    background-color: #fff;
    box-shadow: 0px 5px 20px 1px #1425401A;
    border-radius:8px;
    width:100%;
    padding-bottom:30px !important;    
    /* position: relative; */
}

.heading{
    font-size:1.125rem;
    font-weight:700;
    text-align: center;
    color:#30313A;
    padding-top:20px;
}


.percent_circle_img{
    background-color: #F5F5F5;
    border-radius: 50%;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    margin:0 auto;
    margin-top:20px;
}



.aff_rec_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-20px;
}

.aff_rec_data div{
    font-size:16px;
    color:#52586A;
    font-weight: 600;
    text-align: center;
    margin-top:16px;
    text-align: center;
}

/* text{
    font-size:14px;
} */



